*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.illigal{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  min-height: 100vh;
}
.illigal h1{
  font-size: 45px;
}
.contact-list-box{
  background-color: #28bef0;
  height: 80vh;
  border-radius: 14px;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width:5px;
}
.contact-list-box .user-icon i{
  cursor: pointer;
  color: #c626f2;
  font-size: 45px;
}
.accordion .accordion-item button{
  box-shadow: none;
  border: none;
  font-size: 22px;
}
.accordion i{
  font-size: 25px;
  cursor: pointer;
}
.option-box{
  width: 40px;
  padding: 0;
  border: 2px solid #096786;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: -14px;
  opacity: 0;
}
.option-box.active{
  opacity: 1;
  animation-duration: 4s;
  border: 0;
}
.btn-box button{
  background-color:#072497;
  color:#fff;
  font-family: "Audiowide", sans-serif;
  text-shadow: 2px 2px 2px #ead1ff;
}
.btn-box button:hover{
  background-color: #0aa7b2;
}
#welcome{
  color: #7f08aa;
  font-size: 37px;
  font-weight: bold;
  font-family: "Sofia", sans-serif;
  text-shadow: 3px 3px 3px #ead1ff;
}
#welcome:hover{
  color: #7b2cf2;
}