*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact-list-box{
  background-color: #28bef0;
  height: 80vh;
  border-radius: 25px;
}
.contact-list-box .user-icon i{
  cursor: pointer;
  color: #c626f2;
  font-size: 45px;
}
.accordion .accordion-item button{
  box-shadow: none;
  border: none;
  font-size: 22px;
}
.accordion i{
  font-size: 25px;
}